:root {
  --bs-body-font-family: '-apple-system,SF UI Text,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,WenQuanYi Micro Hei,sans-serif';
}

a {
  text-decoration: none;
}

.z-3 {
  z-index: 1030;
}