<nav class="navbar navbar-expand-sm navbar-light bg-light mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://docs.opentdp.org" target="_blank">
            <img src="assets/images/logo.svg" style="height: 50px" />
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <router-link class="nav-link" to="/chat">聊天</router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" to="/usage">额度查询</router-link>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="d-grid gap-2 position-fixed top-0 end-0 z-3 p-3" v-if="messages.length > 0">
    <div v-for="item in messages" :key="item.index" class="toast align-items-center show"
        :class="{'text-bg-danger': item.type == 'error'}">
        <div class="d-flex">
            <div class="toast-body">{{ item.content }}</div>
            <button class="btn-close me-2 m-auto" @click="removeMessage(item.index)"></button>
        </div>
    </div>
</div>

<router-view></router-view>